@charset "utf-8";

* {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background: #00e673;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 80%;
    background: #FDEDED;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 10%;
    box-shadow: 3px 5px 15px 3px #888888;
    overflow: hidden;



}
.button-container{

}
.display-container{
    background-color: #000;
    border-radius: 30px;
    
}

button {
    width: 15%;
    height: 10%;
    border: none;
    background-color: #e0e0e0;
    color: #333;
    font-size: 28px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    margin: 5px;
    margin-left: 4%;
    margin-right: 4%;
    transition: width, height, box-shadow, 500ms;
}

#display {
    border-radius: 30px;
    height: 10%;
    width: 90%;
    border: none;
    padding: 0;
    background: #2eeca8;
    font-size: 40px;
    text-align: right;
    margin-top: 5%;
    margin-left: 25px;
    margin-bottom: 5%;
    transition: box-shadow, 500ms;
}

#percentage {
    position: relative;

}

#clear {
    width: 30%;
    height: 10%;
    position: relative;
}

#back {
    width: 30%;
    height: 10%;
    position: relative;
    right: 5%;

}

#power {
    float: inherit;
}

#answer {
    width: 40%;
    top: -30%;
}

footer {
    text-align: center;
    margin: 20px;
    font-size: 24px;
    font-family: 'Concert One', cursive;

}

button:focus {
    box-shadow: 2px 2px 10px 2px #888888;
    transform: scale(1.05);

}

#display:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);

}

.light:hover {
    background-color: #3f51b5;

}

.signs:hover {
    background-color: crimson;
}

.equal:hover {
    background-color: orange;
}

#clear:hover,
#back:hover {
    background-color: #ffdb4d;
}

#footer div {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: none;
    border: 2px solid black;
    position: absolute;
    top: 97%;
    color: grey;
}